{% extends 'main/layout.html.twig' %}

{% block page_title %}Inventaire{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom d-flex align-items-center">
                    <a class="toggle-angle no-hover" data-toggle="collapse" href="#stuff" aria-expanded="true" aria-controls="stuff">
                        <i class="fas fa-angle-up icon-toggler"></i>
                    </a>
                    <span>Équipement</span>
                </h1>
                <div class="row collapse show border-top pa-20-top" id="stuff">
                    <div class="col-md-6">
                        {% for key, item in stuff.gears %}
                            {% if item %}
                                <p>
                                    <span class="bold">{{ item.item.itemSlot }} : </span>
                                    <img
                                            class="hf_box"
                                            src="{{ item.item.getWebPath() }}"
                                            title="{{ item.item.name }}"
                                            data-content="{{ item.getFullDescription() }}"
                                            data-html=true
                                            data-toggle="popover"
                                    >
                                    <span
                                            class="{{ item.item.rarity.color }} cursor-click"
                                            title="{{ item.item.name }}"
                                            data-content="{{ item.getFullDescription() }}"
                                            data-html=true
                                            data-toggle="popover"
                                    >
                                        {{ item.item.name }}
                                    </span>
                                </p>
                            {% else %}
                                <p>
                                    <span class="bold">{{ key }} : </span>
                                    <span>(vide)</span>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom d-flex align-items-center">
                    <a class="toggle-angle no-hover" data-toggle="collapse" href="#personalInventory" aria-expanded="true" aria-controls="personalInventory">
                        <i class="fas fa-angle-up icon-toggler"></i>
                    </a>
                    <span>Inventaire</span>
                </h1>
                <div class="collapse show border-top pa-20-top" id="personalInventory">
                    <p class="ma-10-bottom">
                        <span>Nombre d'objets : {{ familiarItems|length }}</span>
                        <span class="f-right"><input type="text" id="searchBar"></span>
                    </p>
                    <table class="table" id="stupidTable">
                        <thead>
                        <tr>
                            <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                            <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Équipement</th>
                            <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Équipé</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in familiarItems %}
                            <tr class="searchedItem" data-search="{{ item.item.name|lower }}">
                                <td
                                    class="cursor-click"
                                    title="{{ item.item.name }}"
                                    data-content="{{ item.getFullDescription() }}"
                                    data-html=true
                                    data-toggle="popover"
                                >
                                    <img class="hf_box" src="{{ item.item.getWebPath() }}">
                                    <span>{{ item.item.name }}</span>
                                </td>
                                <td data-sort-value={{ item.canBeEquipped(true) ? "1" : "0" }}>
                                    {% if item.canBeEquipped(true) %}
                                        <i class="green fas fa-check"></i>
                                    {% else %}
                                        <i class="red fas fa-times"></i>
                                    {% endif %}
                                </td>
                                <td data-sort-value={{ item.isEquipped ? "1" : "0" }}>
                                    {% if item.isEquipped %}
                                        <i class="green fas fa-check"></i>
                                    {% else %}
                                        <i class="red fas fa-times"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not item.isEquipped and item.canBeEquipped(true) %}
                                        <a href="{{ path('equipFamiliar', {'id': item.id}) }}">Équiper</a><br>
                                    {% elseif item.isEquipped %}
                                        <a href="{{ path('equipFamiliar', {'id': item.id}) }}">Enlever</a><br>
                                    {% endif %}
                                    <a href="{{ path('takeItemOfFamiliar', {'id': item.id}) }}">Reprendre</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchBar') }}
{% endblock %}