{% extends 'main/layout.html.twig' %}

{% block page_title %}Admin - Gestion des quêtes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <p class="ma-10-bottom">
                    <span>Nombre de quêtes : {{ questsNumber }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Quête de groupe</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Terminée</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quest in hero.quests %}
                        <tr class="searchedItem" data-search="{{ quest.name|lower }}">
                            <td
                                class="cursor-click"
                                title="{{ quest.name }}"
                                data-content="{{ quest.description }}"
                                data-html=true
                                data-toggle="popover"
                            >
                                {{ quest.name }}
                            </td>
                            <td data-sort-value="0">
                                <i class="red fas fa-times"></i>
                            </td>
                            <td data-sort-value={{ quest.isCompleted ? "1" : "0" }}>
                                {% if quest.isCompleted %}
                                    <i class="green fas fa-check"></i>
                                {% else %}
                                    <i class="red fas fa-times"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if hero.party %}
                        {% for quest in hero.party.quests %}
                            <tr class="searchedItem" data-search="{{ quest.name|lower }}">
                                <td
                                    class="cursor-click"
                                    title="{{ quest.name }}"
                                    data-content="{{ quest.description }}"
                                    data-html=true
                                    data-toggle="popover"
                                >
                                    {{ quest.name }}
                                </td>
                                <td data-sort-value="1">
                                    <i class="green fas fa-check"></i>
                                </td>
                                <td data-sort-value={{ quest.isCompleted ? "1" : "0" }}>
                                    {% if quest.isCompleted %}
                                        <i class="green fas fa-check"></i>
                                    {% else %}
                                        <i class="red fas fa-times"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchBar') }}
{% endblock %}