{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'account' %}my_account{% endtrans %}{% endblock %}

{% block content %}
    <div class="row bg-white pa-20">
        <p class="full-width">
            <span>Points de compétences restants : <span id="skillPoints">{{ skillPoints }}</span></span>
            <span class="f-right">
                <button class="btn btn-primary" id="toggleSkills" data-state="all">Afficher mes compétences</button>
            </span>
        </p>
        <p class="full-width t-align-center">
            <button class="btn btn-danger" id="randomSkill" data-heroId="{{ heroId }}"><i class="fas fa-crown"></i>&nbsp;&nbsp; Acheter une compétence aléatoire &nbsp;&nbsp;<i class="fas fa-crown"></i></button>
        </p>
    </div>
    <div class="row bg-white pa-20">
        {% for skill in skills %}
            {% set level = 0 %}
            {% for heroSkill in heroSkills %}
                {% if heroSkill.skill == skill %}
                    {% set level = heroSkill.level %}
                {% endif %}
            {% endfor %}
            <div class="col-md-3 skill_box {{ level > 0 ? "heroSkill" : "" }}" data-idforrandom="{{ skill.id }}">
                <span
                    class="cursor-click"
                    title="{{ skill.name }}"
                    data-content="{{ skill.getFullDescription(level) }}"
                    data-html=true
                    data-toggle="popover"
                >
                    {{ skill.name }} (lv <span class="level_box">{{ level }}</span>)
                </span>
                <span class="f-right">
                    Coût : {{ skill.cost }}
                    <span
                        class="cursor-click buy-skill"
                        data-heroId="{{ heroId }}"
                        data-skillId="{{ skill.id }}"
                        data-skillCost="{{ skill.cost }}"
                    >
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </span>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('skillList') }}
{% endblock %}