{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'account' %}my_account{% endtrans %}{% endblock %}

{% block content %}
    <div class="row bg-white pa-20">
        <p>Points de compétences restants : <span id="skillPoints">{{ skillPoints }}</span></p>
    </div>
    <div class="row bg-white pa-20">
        {% for skill in skills %}
        <div class="col-md-3 skill_box">
            {% set level = 0 %}
            {% for heroSkill in heroSkills %}
                {% if heroSkill.skill == skill %}
                    {% set level = heroSkill.level %}
                {% endif %}
            {% endfor %}
            <span
                class="cursor-click {{ level > 0 ? "heroSkill" : "" }}"
                title="{{ skill.name }}"
                data-content="{{ skill.getFullDescription(level) }}"
                data-html=true
                data-toggle="popover"
            >
                {{ skill.name }} (lv <span class="level_box">{{ level }}</span>)
            </span>
            <span class="f-right">
                Coût : {{ skill.cost }}
                <span
                    class="cursor-click buy-skill"
                    data-heroId="{{ heroId }}"
                    data-skillId="{{ skill.id }}"
                    data-skillCost="{{ skill.cost }}"
                >
                    <i class="fas fa-shopping-cart"></i>
                </span>
            </span>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('skillList') }}
{% endblock %}