{% extends 'main/layout.html.twig' %}

{% block page_title %}Familiers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <p>Commandement : <span id="usedLS">{{ usedLS }}</span> / {{ leadership }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        {% for familiar in hero.familiars %}
            <div class="col-md-4 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <p><span class="bold">Nom</span> : {{ familiar.name }}</p>
                    <p><span class="bold">Espèce</span> : {{ familiar.specie }}</p>
                    <p><span class="bold">Commandement nécessaire</span> : {{ familiar.needLeaderShip }}</p>
                    <p class="border-bottom pa-10-bottom"><span class="bold">Rareté</span> : <span class="{{ familiar.rarity.color }}">{{ familiar.rarity }}</span></p>
                    <p><span class="bold">PV</span> : {{ familiar.fighterInfos.getFullHP }}</p>
                    <p><span class="bold">MP</span> : {{ familiar.fighterInfos.getFullMP }}</p>
                    <p class="border-bottom pa-10-bottom"><span class="bold">Fatigue</span> : {{ familiar.fighterInfos.getFullSP }}</p>
                    {% if familiar.isInvoked %}
                        <p><span class="bold green cursor-click toggleInvocation" data-id="{{ familiar.id }}">Utilisé</span></p>
                    {% else %}
                        <p><span class="bold grey cursor-click toggleInvocation" data-id="{{ familiar.id }}">Non-utilisé</span></p>
                    {% endif %}

                    <p class="t-align-right">
                        <span class="like-a-link" data-toggle="modal" data-target="#showDetails{{ familiar.id }}">Voir détail</span>
                    </p>

                    <p class="t-align-right">
                        <a href="{{ path('stuffFamiliar', {'id': familiar.id}) }}">Inventaire</a>
                    </p>


                    <div class="modal fade" id="showDetails{{ familiar.id }}" tabindex="-1" role="dialog" aria-labelledby="showDetails{{ familiar.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="showDetails{{ familiar.id }}">Détail de {{ familiar.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="bold">Compétences :</p>
                                    {% for skill in familiar.fighterInfos.skills %}
                                        <p
                                            class="cursor-click ma-5-left"
                                            title="{{ skill.skill.name }}"
                                            data-content="{{ skill.skill.getFullDescription(skill.level, false) }}"
                                            data-html=true
                                            data-toggle="popover"
                                        >
                                            {{ skill.skill.name }} - Niv. {{ skill.level }}
                                        </p>
                                    {% endfor %}
                                    <p class="bold">Stats :</p>
                                    <div class="row">
                                        {% for stat in familiar.fighterInfos.getStatsInTemplate() %}
                                            <p class="col-md-6">{{ stat }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('manageFamiliars') }}
{% endblock %}