{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'heroes' %}show{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 ma-25-top">
            <div class="pa-20 bg-white full-height">
                <div class="row ma-10-bottom">
                    <div class="col-md-4 center">
                        <a href="{{ path('editHeroPhoto', {'id': hero.id}) }}">
                            <img class="hero_box" src="{{ hero.getWebPath() }}" alt="Image du héros">
                        </a>
                    </div>
                    <div class="md-8">
                        <h1>{{ hero.name }}</h1>
                    </div>
                </div>
                <p><span class="bold"><i class="w-20 fas fa-clock"></i> Date de création</span> : {{ hero.createdAt|date("d/m/Y") }}</p>
                <p><span class="bold"><i class="w-20 fas fa-leaf"></i> Affinité</span> : {{ hero.ElementAffinity }}</p>
                <p><span class="bold"><i class="w-20 fas fa-birthday-cake"></i> Age</span> : {{ hero.age ? hero.age : "Inconnu" }}</p>

                {% if hero.isDead %}
                    <p><span class="bold">Statut : </span><span class="red"><i class="w-20 fas fa-skull-crossbones"></i> Mort</span></p>
                {% else %}
                    <p><span class="bold">Statut : </span><span class="green"><i class="w-20 far fa-smile-beam"></i> Vivant</span></p>
                {% endif %}

                <p class="border-top pa-10-top ma-10-top full-width"><span class="bold"><i class="w-20 fas fa-fist-raised"></i> Points de stats</span> : <span id="statPoints">{{ hero.fighterInfos.statPoints }}</span></p>
                <p><span class="bold"><i class="w-20 fas fa-bolt"></i> Points de compétences</span> : {{ hero.fighterInfos.skillPoints }}</p>

                {% if hero.isCurrent %}
                    <p class="t-align-right"><span class="bold green"><i class="w-20 fas fa-star"></i> Héros actif</span></p>
                {% else %}
                    <p class="t-align-right"><a class="bold grey line-through no-hover" href="{{ path('chooseHero', {'id':hero.id}) }}"><span><i class="w-20 fas fa-star"></i> Héros non-actif</span></a></p>
                {% endif %}
            </div>
        </div>

        <div class="col-md-6 ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h1 class="ma-20-bottom">Statistiques</h1>
                {% for stat in metaStats %}
                    <p>
                        <span>{{ stat.name }} :</span>
                        <span class="f-right">{{ stat.value }}</span>
                    </p>
                {% endfor %}
                <br>
                {% for stat in stats %}
                    <p>
                        <span
                            class="cursor-click"
                            title="{{ stat.name }}"
                            data-content="{{ stat.description }}"
                            data-html=true
                            data-toggle="popover"
                        >
                            {{ stat.name }} :
                        </span>
                        <span class="f-right">{{ stat.value }}</span>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}