{% extends 'main/forms.html.twig' %}

{% macro printRewardsRow(form) %}
    <table class="ma-15-top centerCells f-width-table">
        <tbody>
        <tr>
            <td>{{ form_label(form.completionRank) }}</td>
            <td>{{ form_widget(form.completionRank) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.statPoints) }}</td>
            <td>{{ form_widget(form.statPoints) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.skillPoints) }}</td>
            <td>{{ form_widget(form.skillPoints) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.randomItem) }}</td>
            <td>{{ form_widget(form.randomItem) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.items) }}</td>
            <td>{{ form_widget(form.items) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.skills) }}</td>
            <td>{{ form_widget(form.skills) }}</td>
        </tr>
        <tr>
            <td>Supprimer</td>
            <td>
                <a href="#" class="remove_item_link">
                    <i class="fas fa-window-close"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endmacro %}

{% block _quest_widget %}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    <p class="ma-5-bottom">Récompenses : </p>
    <div
            class="row collection_wrapper"
            data-prototype="{{ _self.printRewardsRow(form.rewards.vars.prototype)|e }}"
            data-index="{{ form.rewards|length }}"
    >
        {% for reward in form.rewards %}
            {{ _self.printRewardsRow(reward) }}
        {% endfor %}
        <button type="button" class="add_item_link btn btn-primary ma-10-top" data-collection-holder-class="rewards">
            Ajout de récompense
        </button>
    </div>
{% endblock %}