{% extends 'main/forms.html.twig' %}

{% macro printElementMultiplierRow(form) %}
    <table class="ma-15-top centerCells f-width-table">
        <thead>
            <tr>
                <th>{{ form_label(form.element) }}</th>
                <th><label>Résistance</label></th>
                <th>{{ form_label(form.value) }}</th>
                <th><label>Supprimer</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form.element) }}</td>
                <td>{{ form_row(form.isResistance) }}</td>
                <td>{{ form_widget(form.value) }}</td>
                <td>
                    <a href="#" class="remove_item_link">
                        <i class="fas fa-window-close"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
{% endmacro %}

{% macro printStatMultiplierRow(form) %}
    <table class="ma-15-top centerCells f-width-table">
        <thead>
        <tr>
            <th>{{ form_label(form.stat) }}</th>
            <th>{{ form_label(form.value) }}</th>
            <th><label>Supprimer</label></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ form_widget(form.stat) }}</td>
            <td>{{ form_widget(form.value) }}</td>
            <td>
                <a href="#" class="remove_item_link">
                    <i class="fas fa-window-close"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endmacro %}

{% macro printBattleStatesRow(form) %}
    <table class="ma-15-top centerCells f-width-table">
        <thead>
        <tr>
            <th>{{ form_label(form.states) }}</th>
            <th>{{ form_label(form.turnsNumber) }}</th>
            <th><label>Supprimer</label></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ form_widget(form.states) }}</td>
            <td>{{ form_widget(form.turnsNumber) }}</td>
            <td>
                <a href="#" class="remove_item_link">
                    <i class="fas fa-window-close"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endmacro %}


{% block _save_skill_fightingSkillInfo_widget %}
    {{ form_row(form.element) }}
    {{ form_row(form.accuracy) }}
    {{ form_row(form.castingTime) }}
    {{ form_row(form.drainLife) }}
    {{ form_row(form.criticalDamages) }}
    {{ form_row(form.needWeaponType) }}
    {{ form_row(form.needStatusToCast) }}
    {{ form_row(form.customEffects) }}
    {{ form_row(form.isCriticalRateUpgraded) }}
    {{ form_row(form.isIgnoreDefense) }}
    {{ form_row(form.isAoE) }}
    {{ form_row(form.isHeal) }}
    {{ form_row(form.isCleanse) }}
    {{ form_row(form.isShield) }}
    {{ form_row(form.isIgnoreShield) }}
    {{ form_row(form.isResurrection) }}
    {{ form_row(form.isOnSelfOnly) }}
    <p class="ma-5-bottom">Bonus élémentaux : </p>
    <div
        class="row collection_wrapper"
        data-prototype="{{ _self.printElementMultiplierRow(form.elementsMultipliers.vars.prototype)|e }}"
        data-index="{{ form.elementsMultipliers|length }}"
    >
        {% for elementsMultiplier in form.elementsMultipliers %}
            {{ _self.printElementMultiplierRow(elementsMultiplier) }}
        {% endfor %}
        <button type="button" class="add_item_link btn btn-primary ma-10-top" data-collection-holder-class="elementsMultipliers">
            Ajout bonus élémental
        </button>
    </div>
    <p class="ma-5-bottom">Multiplicateurs de dégâts : </p>
    <div
        class="row collection_wrapper"
        data-prototype="{{ _self.printStatMultiplierRow(form.statMultipliers.vars.prototype)|e }}"
        data-index="{{ form.statMultipliers|length }}"
    >
        {% for statMultiplier in form.statMultipliers %}
            {{ _self.printStatMultiplierRow(statMultiplier) }}
        {% endfor %}
        <button type="button" class="add_item_link btn btn-primary ma-10-top" data-collection-holder-class="statMultipliers">
            Ajout dégâts
        </button>
    </div>
    <p class="ma-5-bottom">Statuts de combat : </p>
    <div
        class="row collection_wrapper"
        data-prototype="{{ _self.printBattleStatesRow(form.battleStates.vars.prototype)|e }}"
        data-index="{{ form.battleStates|length }}"
    >
        {% for battleState in form.battleStates %}
            {{ _self.printBattleStatesRow(battleState) }}
        {% endfor %}
        <button type="button" class="add_item_link btn btn-primary ma-10-top" data-collection-holder-class="battleStates">
            Ajout statut
        </button>
    </div>
{% endblock %}