{% extends 'main/base.html.twig' %}

{% block moreCSS %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    {% include "main/nav.html.twig" %}

    <div class="row ma-10-top">
        <div class="col">
            <h1 class="ma-10-top ma-10-left"><i class="fas fa-angle-double-right"></i> {% block page_title %}{% endblock %}</h1>
        </div>
    </div>

    <div id="content">
        <div class="container{{ fluid is defined ? '-fluid' : '' }}">
            {% block content %}{% endblock %}
        </div>
    </div>

    {% if is_granted("ROLE_MJ") %}
        <div id="diceBox" class="column bg-white">
            <p>Roll the dice !</p>
            <div class="rollTheDice cursor-click" data-number="6">
                D6 => <span></span>
            </div>
            <div class="rollTheDice cursor-click" data-number="10">
                D10 => <span></span>
            </div>
            <div class="rollTheDice cursor-click" data-number="20">
                D20 => <span></span>
            </div>
            <div class="rollTheDice cursor-click" data-number="100">
                D100 => <span></span>
            </div>
        </div>
    {% endif %}

    <footer>
        <p class="t-align-center">Jeremy Emo - 2017-{{ "now"|date("Y") }}</p>
    </footer>
{% endblock %}

{% block moreJS %}
    {{ encore_entry_script_tags('app') }}
    {% if specificJS is defined %}
        {% if specificJS is iterable %}
            {% for script in specificJS %}
                {{ encore_entry_script_tags(script) }}
            {% endfor %}
        {% else %}
            {{ encore_entry_script_tags(specificJS) }}
        {% endif %}
    {% endif %}
{% endblock %}