<nav id="top-menu" class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ path('index') }}">{{ site_title }} - Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    {% if app.user %}
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav full-width">
            <li class="nav-item dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"> Joueur <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{{ path('listHeroes') }}" class="text-uppercase">Liste de mes personnages</a></li>
                </ul>
            </li>
            {% if app.user.getCurrentHero %}
            <li class="nav-item dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"> Personnage actif <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{{ path('showHero', {'id': app.user.getCurrentHero.id}) }}" class="text-uppercase">Fiche Principale</a></li>
                    <li><a href="{{ path('heroInventory', {'id': app.user.getCurrentHero.id}) }}" class="text-uppercase">Inventaire</a></li>
                    <li><a href="{{ path('heroFamiliars', {'id': app.user.getCurrentHero.id}) }}" class="text-uppercase">Familiers</a></li>
                    {% if app.user.getCurrentHero.party %}
                        <li><a href="{{ path('partyInventory', {'id': app.user.getCurrentHero.id}) }}" class="text-uppercase">Inventaire du groupe</a></li>
                    {% endif %}
                    <li><a href="{{ path('listHeroSkills', {'id': app.user.getCurrentHero.id}) }}" class="text-uppercase">Compétences</a></li>
                    <li><a href="{{ path('listHeroQuests', {'id': app.user.getCurrentHero.id}) }}" class="text-uppercase">Quêtes</a></li>
                </ul>
            </li>
            {% endif %}
            {% if is_granted("ROLE_MJ") %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"> MJ <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{ path('listParties') }}" class="text-uppercase">Groupes</a></li>
                    </ul>
                </li>
                {% if app.user.getCurrentParty %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"> MJ - Groupe actif <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{ path('showParty', {'id': app.user.getCurrentParty.id}) }}" class="text-uppercase">Personnages</a></li>
                        <li><a href="{{ path('mj_partyInventory', {'id': app.user.getCurrentParty.id}) }}" class="text-uppercase">Inventaire</a></li>
                        <li><a href="{{ path('mj_listBattles') }}" class="text-uppercase">Combats</a></li>
                    </ul>
                </li>
                {% endif %}
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"> Administration <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="{{ path('admin_listAccounts') }}" class="text-uppercase">Comptes</a></li>
                        <li><a href="{{ path('admin_listHeroes') }}" class="text-uppercase">Héros</a></li>
                        <li><a href="{{ path('admin_listMonsters') }}" class="text-uppercase">Monstres</a></li>
                        <li><a href="{{ path('admin_listFamiliars') }}" class="text-uppercase">Familiers</a></li>
                        <li><a href="{{ path('admin_listSkills') }}" class="text-uppercase">Compétences</a></li>
                        <li><a href="{{ path('admin_listItems') }}" class="text-uppercase">Objets</a></li>
                        <li><a href="{{ path('admin_listQuests') }}" class="text-uppercase">Quêtes</a></li>
                        <li><a href="{{ path('admin_globalOthers') }}" class="text-uppercase">Autres</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle text-uppercase" data-toggle="dropdown"> Arcana <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{{ path('arcana_listSkillTags') }}" class="text-uppercase">Liste des archétypes de classe</a></li>
                </ul>
            </li>
            <li class="nav-item user-navbox">
                <a href="{{ path('index') }}"><i class="fas fa-user"></i> {{ app.user.username }}</a>
                {% if is_granted('IS_IMPERSONATOR') %}
                    <a href="{{ path('index', {'_compte': '_exit'}) }}" class="ma-10-left red"><i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a href="{{ path('app_logout') }}" class="ma-10-left"><i class="fas fa-sign-out-alt"></i></a>
                {% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
</nav>