{% extends 'main/layout.html.twig' %}

{% block page_title %}Admin - Gestion des comptes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="pa-20 bg-white">
                <a href="{{ path('admin_createElement') }}" class="ma-5-right"><button type="button" class="btn btn-primary">Éléments</button></a>
                <a href="{{ path('admin_createStat') }}" class="ma-5-right"><button type="button" class="btn btn-primary">Statistiques</button></a>
                <a href="{{ path('admin_createCurrency') }}" class="ma-5-right"><button type="button" class="btn btn-primary">Monnaies</button></a>
                <a href="{{ path('admin_createSBP') }}" class="ma-5-right"><button type="button" class="btn btn-primary">Bonus de stats</button></a>
                <a href="{{ path('admin_listBS') }}" class="ma-5-right"><button type="button" class="btn btn-primary">Statuts en combat</button></a>
            </div>
        </div>
    </div>
{% endblock %}