{% extends 'main/layout.html.twig' %}

{% block page_title %}Admin - Autres{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="pa-20 bg-white">
                <a href="{{ path('admin_listElements') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Éléments</button></a>
                <a href="{{ path('admin_listBS') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Statuts en combat</button></a>
                <a href="{{ path('admin_listStats') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Statistiques</button></a>
                <a href="{{ path('admin_listCE') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Effets personnalisés</button></a>
                <a href="{{ path('admin_listMoney') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Monnaies</button></a>
                <a href="{{ path('admin_listSBP') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Bonus de stats</button></a>
                <a href="{{ path('admin_listCompletionRanks') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Rangs de complétion</button></a>
                <a href="{{ path('admin_listItemSlots') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Slots d'équipement</button></a>
                <a href="{{ path('admin_listWeaponTypes') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Types d'arme</button></a>
            </div>
        </div>
    </div>

    {% if states is defined %}
        {% include 'admin/listBS.html.twig' %}
    {% endif %}

    {% if elements is defined %}
        {% include 'admin/listElements.html.twig' %}
    {% endif %}

    {% if stats is defined %}
        {% include 'admin/listStats.html.twig' %}
    {% endif %}

    {% if customEffects is defined %}
        {% include 'admin/listCE.html.twig' %}
    {% endif %}

    {% if moneys is defined %}
        {% include 'admin/listMoneys.html.twig' %}
    {% endif %}

    {% if statBonusPercents is defined %}
        {% include 'admin/listSBP.html.twig' %}
    {% endif %}

    {% if completionRanks is defined %}
        {% include 'admin/listCompletionRanks.html.twig' %}
    {% endif %}

    {% if itemSlots is defined %}
        {% include 'admin/listItemSlots.html.twig' %}
    {% endif %}

    {% if weaponTypes is defined %}
        {% include 'admin/listWeaponTypes.html.twig' %}
    {% endif %}

{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchBar') }}
{% endblock %}