{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <a href="{{ path('admin_createItemSlot') }}"><button type="button" class="btn btn-primary">Créer un slot d'équipement</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom">Liste des slots :</h1>
                <p class="ma-10-bottom">
                    <span>Nombre de slots : {{ itemSlots|length }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Slot de familier</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for itemSlot in itemSlots %}
                        <tr class="searchedItem" data-search="{{ itemSlot.name|lower }}">
                            <td>{{ itemSlot.name }}</td>
                            <td data-sort-value={{ itemSlot.isForFamiliar ? "1" : "0" }}>
                                {% if itemSlot.isForFamiliar %}
                                    <i class="green fas fa-check"></i>
                                {% else %}
                                    <i class="red fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_editItemSlot', {'id': itemSlot.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}