{% extends 'main/layout.html.twig' %}

{% block page_title %}Admin - Gestion des familiers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{{ path('admin_createFamiliar') }}"><button type="button" class="btn btn-primary">Créer un nouveau familier</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <p class="ma-10-bottom">
                    <span>Nombre de familiers : {{ familiars|length }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Espèce</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Invoqué</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Rareté</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for familiar in familiars %}
                        <tr class="searchedItem" data-search="{{ familiar.name|lower }}">
                            <td>{{ familiar.name }}</td>
                            <td>{{ familiar.specie }}</td>
                            <td data-sort-value={{ familiar.isInvoked ? "1" : "0" }}>
                                {% if familiar.isInvoked %}
                                    <i class="green fas fa-check"></i>
                                {% else %}
                                    <i class="red fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td class="{{ familiar.rarity.color }}">{{ familiar.rarity }}</td>
                            <td>
                                <a href="{{ path('admin_editFamiliar', {'id': familiar.id}) }}">Modifier</a><br>
                                <a href="{{ path('admin_skillsFamiliar', {'id': familiar.id}) }}">Gérer compétences</a><br>
                                {% if not familiar.master %}
                                    <a href="{{ path('admin_giveFamiliar', {'id': familiar.id}) }}">Attribuer</a><br>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchBar') }}
{% endblock %}