{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <a href="{{ path('admin_createBS') }}"><button type="button" class="btn btn-primary">Créer un statut</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom">Liste des statuts :</h1>
                <p class="ma-10-bottom">
                    <span>Nombre de buffs/debuffs : {{ states|length }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> ID to code</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Transformation</th>
                        <th scope="col" data-sort="int" class="cursor-click"><i class="fas fa-caret-down"></i> Buff</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for state in states %}
                        <tr class="searchedItem" data-search="{{ state.name|lower }}">
                            <td>{{ state.name }}</td>
                            <td>{{ state.nameId }}</td>
                            <td data-sort-value={{ state.isTransformation ? "1" : "0" }}>
                                {% if state.isTransformation %}
                                    <i class="green fas fa-check"></i>
                                {% else %}
                                    <i class="red fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td data-sort-value={{ state.isBuff ? "1" : "0" }}>
                                {% if state.isBuff %}
                                    <i class="green fas fa-check"></i>
                                {% else %}
                                    <i class="red fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_editBS', {'id': state.id}) }}">Modifier</a><br>
                                {% if state.fightingSkills|length == 0 %}
                                <a href="{{ path('admin_deleteBS', {'id': state.id}) }}">Supprimer</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}