{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <a href="{{ path('admin_createStat') }}"><button type="button" class="btn btn-primary">Créer une statistique</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom">Liste des statistiques :</h1>
                <p class="ma-10-bottom">
                    <span>Nombre de statistiques : {{ stats|length }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> ID to code</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stat in stats %}
                        <tr class="searchedItem" data-search="{{ stat.name|lower }}">
                            <td
                                class="cursor-click"
                                title="{{ stat.name }}"
                                data-content="{{ stat.description }}"
                                data-html=true
                                data-toggle="popover"
                            >
                                {{ stat.name }}
                            </td>
                            <td>{{ stat.nameId }}</td>
                            <td>
                                <a href="{{ path('admin_editStat', {'id': stat.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('searchBar') }}
{% endblock %}