{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <a href="{{ path('admin_createSkillTag') }}"><button type="button" class="btn btn-primary">Créer un archétype</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom">Liste des archétypes :</h1>
                <p class="ma-10-bottom">
                    <span>Nombre d'archétypes : {{ tags|length }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> ID to code</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr class="searchedItem" data-search="{{ tag.name|lower }}">
                            <td>
                                {{ tag.name }}
                            </td>
                            <td>{{ tag.nameId }}</td>
                            <td>
                                <a href="{{ path('admin_editSkillTag', {'id': tag.id}) }}">Modifier</a><br>
                                <span class="like-a-link" data-toggle="modal" data-target="#deleteModal{{ tag.id }}">Supprimer</span>
                            </td>
                        </tr>
                        <div class="modal fade" id="deleteModal{{ tag.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ tag.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ tag.id }}">Supprimer l'archétype {{ tag.name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Êtes-vous certain de vouloir supprimer l'archétype ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <a href="{{ path('admin_deleteSkillTag', {'id':tag.id}) }}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}