{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <a href="{{ path('admin_createCurrency') }}"><button type="button" class="btn btn-primary">Créer une monnaie</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white">
                <h1 class="ma-20-bottom">Liste des monnaies :</h1>
                <p class="ma-10-bottom">
                    <span>Nombre de monnaies : {{ moneys|length }}</span>
                    <span class="f-right"><input type="text" id="searchBar"></span>
                </p>
                <table class="table" id="stupidTable">
                    <thead>
                    <tr>
                        <th scope="col" data-sort="string" class="cursor-click"><i class="fas fa-caret-down"></i> Nom</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for money in moneys %}
                        <tr class="searchedItem" data-search="{{ money.name|lower }}">
                            <td
                                class="cursor-click"
                                title="{{ money.name }}"
                                data-content="{{ money.description }}"
                                data-html=true
                                data-toggle="popover"
                            >
                                {{ money.name }}
                            </td>
                            <td>
                                <a href="{{ path('admin_editMoney', {'id': money.id}) }}">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}