{% extends 'main/layout.html.twig' %}

{% form_theme form with ['main/specificForms/monsterSkillsForm.html.twig'] %}
{% trans_default_domain 'admin' %}

{% block page_title %}{{ title|trans }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2 ma-25-top pa-20 bg-white">
            <h2 class="ma-15-bottom">{{ title|trans }} : </h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Enregistrer">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block moreJS %}
    {{ parent() }}
{% endblock %}