{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'parties' %}list{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{{ path('createParty') }}"><button type="button" class="btn btn-primary">Créer un nouveau groupe</button></a>
        </div>
    </div>
    <div class="row">
        {% for party in parties %}
            <div class="col-md-4 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <p><span class="bold"><i class="w-20 fas fa-users"></i> Nom</span> : {{ party.name }}</p>
                    <p>Membres :
                        <ul>
                            {% for member in party.heroes %}
                                <li>{{ member }}</li>
                            {% endfor %}
                        </ul>
                    </p>
                    {% if party.isActive %}
                        <p><span class="bold green"><i class="w-20 fas fa-star"></i> Groupe actif</span></p>
                    {% else %}
                        <p><a class="bold grey line-through no-hover" href="{{ path('chooseParty', {'id':party.id}) }}"><span><i class="w-20 fas fa-star"></i> Groupe non-actif</span></a></p>
                    {% endif %}
                    <p class="t-align-right">
                        <a href="{{ path('showParty', {'id': party.id}) }}">Voir</a>
                    </p>
                    <p class="t-align-right">
                        <a href="{{ path('editParty', {'id': party.id}) }}">Modifier</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}