{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'parties' %}show{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                {% for hero in party.heroes %}
                    <button class="btn btn-primary btn-show-hero" data-target="{{ hero.id }}">{{ hero }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for hero in party.heroes %}
        <div class="row hero_box_to_show" id="hero-{{ hero.id }}" style="display: none;">
            <div class="col-md-3 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <p><span class="bold"><i class="w-20 fas fa-id-card"></i> Nom</span> : {{ hero.name }}</p>
                    {% if hero.getWebPath() %}
                        <p class="center">
                            <img class="hero_box" src="{{ hero.getWebPath() }}" alt="Image du héros">
                        </p>
                    {% endif %}
                    <p><span class="bold"><i class="w-20 fas fa-clock"></i> Date de création</span> : {{ hero.createdAt|date("d/m/Y") }}</p>
                    {% if hero.isDead %}
                        <p><span class="bold red"><i class="w-20 fas fa-skull-crossbones"></i> Mort</span></p>
                    {% endif %}
                    <p><a href="{{ path('showHero', {'id': hero.id}) }}" target="_blank">Voir le détail</a></p>
                    <p><a href="{{ path('editHeroMJStats', {'id': hero.id}) }}">Mettre à jour</a></p>
                </div>
            </div>
            <div class="col-md-9 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <div class="row full-height">
                        <div class="col-md-6 border-right full-height">
                            <p>PV actuels : {{ hero.fighterInfos.getFullHP }}</p>
                            <p>MP actuels : {{ hero.fighterInfos.getFullMP }}</p>
                            <p>Fatigue : {{ hero.fighterInfos.getFullSP }}</p>
                        </div>
                        <div class="col-md-6 full-height">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor%}
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('showParty') }}
{% endblock %}