{% extends 'main/layout.html.twig' %}

{% block page_title %}{% trans from 'parties' %}show{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h2 class="ma-15-bottom">Actions de groupe :</h2>
                <a href="{{ path('notImplemented') }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Dormir</button></a>
                <a href="{{ path('fullHealParty', {'id': party.id}) }}" class="ma-5-right ma-5-bottom d-inline-block"><button type="button" class="btn btn-primary">Soigner entièrement</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h2 class="ma-15-bottom">Héros :</h2>
                {% for hero in party.heroes %}
                    <button class="btn btn-primary btn-show-hero ma-5-right ma-5-bottom d-inline-block" data-target="{{ hero.id }}">{{ hero }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for hero in party.heroes %}
        <div class="row hero_box_to_show" id="hero-{{ hero.id }}" style="display: none;">
            <div class="col-md-3 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <p><span class="bold"><i class="w-20 fas fa-id-card"></i> Nom</span> : {{ hero.name }}</p>
                    {% if hero.getWebPath() %}
                        <p class="center">
                            <img class="hero_box" src="{{ hero.getWebPath() }}" alt="Image du héros">
                        </p>
                    {% endif %}
                    <p><span class="bold"><i class="w-20 fas fa-clock"></i> Date de création</span> : {{ hero.createdAt|date("d/m/Y") }}</p>
                    {% if hero.isDead %}
                        <p><span class="bold red"><i class="w-20 fas fa-skull-crossbones"></i> Mort</span></p>
                    {% endif %}
                    <p><a href="{{ path('showHero', {'id': hero.id}) }}" target="_blank">Voir le détail</a></p>
                    <p><a href="{{ path('heroInventory', {'id': hero.id}) }}" target="_blank">Voir l'inventaire</a></p>
                    <p><a href="{{ path('editHeroMJStats', {'id': hero.id}) }}">Mettre à jour</a></p>
                </div>
            </div>
            <div class="col-md-9 ma-25-top">
                <div class="pa-20 bg-white full-height">
                    <div class="row full-height">
                        <div class="col-md-6 border-right full-height">
                            <p>PV actuels : {{ hero.fighterInfos.getFullHP }}</p>
                            <p>MP actuels : {{ hero.fighterInfos.getFullMP }}</p>
                            <p class="border-bottom pa-15-bottom">Fatigue : {{ hero.fighterInfos.getFullSP }}</p>
                            {% if hero.fighterInfos.getSkillsForDisplay(true)|length > 0 %}
                                <h2>Compétences passives :</h2>
                                {% for skill in hero.fighterInfos.getSkillsForDisplay(true) %}
                                    <p
                                        class="cursor-click ma-5-left"
                                        title="{{ skill.skill.name }}"
                                        data-content="{{ skill.skill.getFullDescription(skill.level) }}"
                                        data-html=true
                                        data-toggle="popover"
                                    >
                                        {{ skill.skill.name }} - Niv. {{ skill.level }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                            {% if hero.fighterInfos.getSkillsForDisplay()|length > 0 %}
                                <h2>Compétences actives :</h2>
                                {% for skill in hero.fighterInfos.getSkillsForDisplay() %}
                                    <p
                                        class="cursor-click ma-5-left"
                                        title="{{ skill.skill.name }}"
                                        data-content="{{ skill.skill.getFullDescription(skill.level) }}"
                                        data-html=true
                                        data-toggle="popover"
                                    >
                                        {{ skill.skill.name }} - Niv. {{ skill.level }}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 full-height">
                            <h2>Quêtes en cours :</h2>
                            <ul>
                            {% for heroQuest in hero.quests %}
                                {% if not heroQuest.isCompleted %}
                                    <li
                                        class="cursor-click"
                                        title="{{ heroQuest.name }}"
                                        data-content="{{ heroQuest.getFullDescriptionForMJ() }}"
                                        data-html=true
                                        data-toggle="popover"
                                    >
                                        {{ heroQuest.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% for partyQuest in party.quests %}
                                {% if not partyQuest.isCompleted %}
                                    <li
                                        class="cursor-click"
                                        title="{{ partyQuest.name }}"
                                        data-content="{{ partyQuest.getFullDescriptionForMJ() }}"
                                        data-html=true
                                        data-toggle="popover"
                                    >
                                        {{ partyQuest.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor%}
{% endblock %}

{% block moreJS %}
    {{ parent() }}
    {{ encore_entry_script_tags('showParty') }}
{% endblock %}