{% extends 'main/layout.html.twig' %}

{% form_theme form with ['main/forms.html.twig'] %}

{% block page_title %}{% trans from 'battle' %}continue{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 ma-25-top">
            <div class="pa-20 bg-white full-height">
                <p class="bold">Combattant actif : {{ actor.name }}{% if actor.spellUsed is defined and actor.spellUsed %} (doit lancer {{ actor.spellUsed }}){% endif %}</p>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Suivant">
                {{ form_end(form) }}
                <p class="ma-20-top"><a href="{{ path('mj_endBattle', {'id': battle.id}) }}">Terminer le combat</a></p>
                <p class="ma-20-top"><a href="{{ path('mj_cancelBattle', {'id': battle.id}) }}">Fuir le combat</a></p>
            </div>
        </div>
        <div class="col-md-6 ma-25-top">
            <div class="pa-20 bg-white full-height scroll_box">
                {% for turn in battle.turns %}
                    <p>Tour {{ turn.turnNumber }} : {{ turn.action }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h2 class="ma-20-bottom">Alliés : </h2>
                {% for fighter in fighters %}
                    {% if not fighter.ennemy %}
                        <div class="border-bottom ma-10-bottom">
                            <p class="bold">{{ fighter.name }}</p>
                            <p>Points de vie : {{ fighter.currentHP }} / {{ fighter.maxHP }}</p>
                            <p>Bouclier : {{ fighter.currentShieldValue }}</p>
                            <p>Points de mana : {{ fighter.currentMP }} / {{ fighter.maxMP }}</p>
                            <p>Fatigue : {{ fighter.currentSP }} / {{ fighter.maxSP }}</p>
                            <p>Barre d'attaque : {{ fighter.atb }} %</p>
                            {% if fighter.statuses is defined %}
                                {% for key, status in fighter.statuses %}
                                    {% for dbStatus in statuses and status > 0 %}
                                        {% if key == dbStatus.nameId %}
                                            <p><img class="hf_box" src="{{ dbStatus.getWebPath() }}">{{ dbStatus.name }} : {{ status }} tours</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 ma-25-top">
            <div class="pa-20 bg-white full-height">
                <h2 class="ma-20-bottom">Ennemis : </h2>
                {% for fighter in fighters %}
                    {% if fighter.ennemy %}
                        <div class="border-bottom ma-10-bottom">
                            <p class="bold">{{ fighter.name }}</p>
                            <p>Points de vie : {{ fighter.currentHP }} / {{ fighter.maxHP }}</p>
                            <p>Bouclier : {{ fighter.currentShieldValue }}</p>
                            <p>Points de mana : {{ fighter.currentMP }} / {{ fighter.maxMP }}</p>
                            <p>Fatigue : {{ fighter.currentSP }} / {{ fighter.maxSP }}</p>
                            <p>Barre d'attaque : {{ fighter.atb }} %</p>
                            {% if fighter.statuses is defined %}
                                {% for key, status in fighter.statuses %}
                                    {% for dbStatus in statuses %}
                                        {% if key == dbStatus.nameId and status > 0 %}
                                            <p><img class="hf_box" src="{{ dbStatus.getWebPath() }}">{{ dbStatus.name }} : {{ status }} tours</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}